*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div{
    height: 50vh;
    font-size: 2rem;
    border: 10px dotted blue;
    padding: 5rem;
    color: transparent;
    /* 
    background-color: chartreuse;
    background-image: url('../html/media/images/travel.jpg');
    background-repeat: no-repeat;
    background-attachment:scroll; 
    background-position: top;
    */
    /* background - shorthand covering all above one in single line*/
    background: chartreuse url(../html/media/images/travel.jpg) no-repeat scroll center;

    background-size: cover;
    background-clip: text; 
    -webkit-background-clip: text;
}