*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

button{
    color: white;
    background-color: rgb(0, 68, 255);
    border-radius: .5rem;
    border: 1px solid rgb(0, 68, 255);
    padding: 0.3rem .2rem;
}

button:hover{
    background-color: rgb(0, 60, 143);
    border: 1px solid rgb(0, 60, 200);;
}

input:focus{
    background-color: blue;
}

h1::after ,h1::before{
    content: '--';
}

p::first-line{
    background-color: blue;
}

p::first-letter{
    font-size: 2rem;
}

li:nth-child(1){
    background-color: aqua;
}