*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Animations */

.container{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;

    /* animation */
    /* animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite; */
    /* animation-timing-function: ease-in; */
    /* animation-delay: 2s; */
    /* animation-direction: alternate; */

    /* animation-duration: alternate-reverse; */
    /* animation-play-state: paused; */


    /* shorthand */
    animation: move 1s ease-in 2 alternate none;
}

@keyframes move{
    /* from{
        left:0px;
    }
    to{
        left:150px;
    } */

    /* OR */

    0%{
        left:0px;
    }
    /* 25%{
        left: 50px;
    }
    50%{
        left:100px;
    } */
    100%{
        left:150px;
    }

}