*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Transition */

div{
    width: 200px;
    height: 200px;
    margin: 100px auto;
    background-color: aqua;

    /* transition */
    transition-property: width, height;
    /* transition-delay: 1s; */
    /* transition-duration: 2s; */
    /* transition-timing-function: ease-in; */
    /* transition-timing-function: cubic-bezier(.19,.32,.91,.7); */

    /* shorthand */
    transition: background-color 100ms linear 1s, width 2s ease-in,height 2s ease-in;
}

div:hover{
    width: 600px;
    height: 500px;
    background-color: yellow;
}